html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.nav{
    display: none;
}

.sideMenu center img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid white;
}

.sideMenu center h2 {
    color: white;
}

.sideMenu{
    grid-area: side;
    background-color: #1D2951;
    position: fixed;
    width: 15%;
    height: 100%;

}

.sideMenu a{
    display: block;
    line-height: 60px;
    transition: .5s;
    color: white;
}


.sideMenu a:hover {
    background: rgb(208, 95, 8);
    padding-left: 20px;
}

.homePage{
    grid-area: data;
    text-align: center;
    background-color: rgb(151, 151, 151);
}

.aboutPage {
    grid-area: data;
    text-align: center;
    background-color: rgb(151, 151, 151);
}

.homePagePic{
    width: 75%;

}

.sideMenu span {
    font-size: 20px;
    margin-left: 10px;
    color: white
}

.sideMenu i {
    font-size: 20px;
    margin-left: 20px;
    color: white;
}


.container{
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    'side data data'
}

.aboutTitle{
    grid-area: aboutTitle;
    color: white;
    font-size: 35px;
}

.aboutHR{
    border: .9px solid rgb(208, 95, 8);
    text-align: center;
}

.aboutPic{
    grid-area: aboutPic;
}

.aboutPicSize{
    width: 50%;
    height: 75%;
}

.age{
    grid-area: age;
    text-align: left;
    color: white;
    font-size: 25px;
}

.bday{
    grid-area: bday;
    text-align: left;
    color: white;
    font-size: 25px;
}

.bplace{
    grid-area: bplace;
    text-align: left;
    color: white;
    font-size: 25px;
}

.hobby{
    grid-area: hobby;
    text-align: left;
    color: white;
    font-size: 25px;
}

.edu{
    grid-area: edu;
    text-align: left;
    color: white;
    font-size: 25px;
}

.exp{
    grid-area: exp;
    text-align: left;
    color: white;
    font-size: 25px;
}

.desc{
    grid-area: desc;
    font-size: 20px;
    border: 2px solid rgb(208, 95, 8);
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.skills{
    grid-area: skills;
    color: white;
    font-size: 35px;
}

.skillBars{
    grid-area: skillBars;
    text-align: left;
    color: white;
    font-size: 20px;
}

.skillLogos{
    grid-area: logo;
}

.skillDesc{
    grid-area: skillDesc;
    border: 1px solid rgb(208, 95, 8);
    color: white;
}

.skillBarContainer {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.bar {
    background-color: rgb(208, 95, 8);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.htmlSkill {
    width: 80%;
}

.jsSkill {
    width: 70%;
}


.cssSkill {
    width: 75%;
}


.aboutPage {
    display: grid;
    grid-area: data;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(151, 151, 151);
    grid-template-rows: auto;
    grid-template-areas: 
    '. aboutTitle .'
    'aboutPic age bday'
    'aboutPic bplace hobby'
    'aboutPic edu exp'
    'desc desc desc'
    '. skills .'
    'logo skillBars skillBars';
}

.contactTitle{
    grid-area: contactTitle;
    text-align: center;
    color: white;
    font-size: 35px;
}

.contactPhone{
    grid-area: phone;
    border-right: 3px solid rgb(208, 95, 8);
    color: white;
    font-size: 25px;
    text-align: center;
}

.contactEmail{
    grid-area: email;
    border-right: 3px solid rgb(208, 95, 8);
    color: white;
    font-size: 25px;
    text-align: center;
}

.contactLocation {
    grid-area: location;
    border-right: 3px solid rgb(208, 95, 8);
    color: white;
    font-size: 25px;
    text-align: center;
}

.messageTitle{
    text-align: center;
    color: white;
    font-size: 35px;
}

.messageMe{
    grid-area: message;
    border-right: 3px solid rgb(208, 95, 8);
}

fieldset{
    border: none;
    text-align: center;
}

.contactInput{
    width: 80%;
}

.contactSumbit{
    border-radius: 20px;
    padding: 2%;
    background-color: rgb(208, 95, 8);
    color: white;
    font-size: 15px;
    font-size: 25px;
}

.centerMe{
    text-align: center;
}

.contactSocials{
    grid-area: contactSocials;
    text-align: center;
    color: white;
    font-size: 25px;
}

.contactSocialIcons{
    grid-area: icons;
    text-align: center;
    display: block;
    color: white;
    font-size: 35px;
}

.contactSocialIcons span{
    color: white;
}

.contactSocialIcons i:hover{
    color: rgb(208, 95, 8);
}
.fa{
    color: white;
}

.contactPage{
    display: grid;
    grid-area: data;
    height: 100%;
    background-color: rgb(151, 151, 151);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '. contactTitle .'
    'phone message contactSocials '
    'email message icons'
    'location message icons';
}

.projectPictures{
    width: 100%;
    height: 100%;
}

.gatorBurger{
    text-align: center;
    grid-area: gatorBurger;
    margin: 13%;
}

.calculator{
    text-align: center;
    grid-area: calc;
    margin: 13%;
}

.tic{
    text-align: center;
    grid-area: tic;
    margin: 13%;
}

.cssGrid{
    grid-area: cssGrid;
    text-align: center;
    margin: 13%;
}

.gus{
    grid-area: gus;
    text-align: center;
    margin: 13%;
}

.projectButton{
    color: white;
    background-color: rgb(208, 95, 8);
    padding: 3%;
    border-radius: 20px;
}

.websiteTitle{
    color: white;
    font-size: 25px;
}

.projectA{
    color: white;
    font-size: 15px;
}
.projectsTitle{
    text-align: center;
    color: white;
    font-size: 35px;
    grid-area: projectTitle;
}

.projectsPage{
    display: grid;
    grid-area: data;
    background-color: rgb(151, 151, 151);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '. projectTitle .'
    'gatorBurger calc tic'
    'cssGrid gus .';
}

.resumeTitle{
    grid-area: resumeTitle;
    font-size: 35px;
    color: white;
    text-align: center;
}   

.resumeObjective{
    grid-area: resumeObjective;
    border: 2px solid rgb(208, 95, 8);
    margin: 5%;
}

.resumeSkills{
    grid-area: resumeSkills;
    border: 2px solid rgb(208, 95, 8);
    margin: 5%;
}

.resumeExp{
    grid-area: resumeExp;
    border: 2px solid rgb(208, 95, 8);
    margin: 5%;
}

.resumeExtra{
    grid-area: resumeExtra;
    border: 2px solid rgb(208, 95, 8);
    margin: 5%;
}

.resumeEdu{
    grid-area: resumeEdu;
    border: 2px solid rgb(208, 95, 8);
    margin: 5%;
}

.resumeSubtitles{
    color: white;
    font-size: 25px;
    margin: 5%;
    text-align: center;
}

.resumeContents{
    color: white;
    font-size: 25px;    
}
.resumePage {
    display: grid;
    grid-area: data;
    background-color: rgb(151, 151, 151);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        '. resumeTitle .'
        'resumeObjective resumeSkills resumeExp'
        'resumeExtra resumeEdu .';
}

@media (max-width:850px) {
    .sideMenu a span {
        display: none;
    }

    .sideMenu center {
        display: none;
    }

    .sideMenu a i {
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }



        .aboutPicSize {
            width: 50%;
            height: 70%;
            margin-top: 5%;
        }
    
        .age {
            display: none;
        }
    
        .bday {
            display: none;            
        }
    
        .bplace {
            display: none;
        }
    
        .hobby {
            display: none;
        }
    
        .edu {
            display: none;            
        }
    
        .exp {
            display: none;
        }


    .aboutPage {
        grid-template-areas: 
        'aboutTitle aboutTitle aboutTitle'
        'aboutPic aboutPic aboutPic '
        'aboutPic aboutPic aboutPic'
        'aboutPic aboutPic aboutPic'
        'desc desc desc'
        '. skills .'
        'logo skillBars skillBars';
    }

    .projectPictures{
    width: 100%;
    height: 100%;
    }

    .projectsPage{
        grid-template-areas: 
        '. projectTitle .'
        'gatorBurger gatorBurger gatorBurger'
        'calc calc calc'
        'tic tic tic'
        'cssGrid cssGrid cssGrid'
        'gus gus gus';
        height: 100%;
    }
    
    .resumePage{
        grid-template-areas:
        '. resumeTitle .'
        'resumeObjective resumeObjective resumeObjective'
        'resumeSkills resumeSkills resumeSkills'
        'resumeExp resumeExp resumeExp'
        'resumeExtra resumeExtra resumeExtra'
        'resumeEdu resumeEdu resumeEdu';
    }

        .contactPhone {
            grid-area: phone;
            border-right: none;
            color: white;
            font-size: 25px;
            text-align: center;
            margin-bottom: 5%;
            margin-top: 5%;
        }
    
        .contactEmail {
            grid-area: email;
            border-right: none;
            color: white;
            font-size: 25px;
            text-align: center;
            margin-bottom: 5%;
        }
    
        .contactLocation {
            grid-area: location;
            border-right: none;
            color: white;
            font-size: 25px;
            text-align: center;
            margin-bottom: 5%;
            border-bottom: 2px solid rgb(208, 95, 8);
        }
    
    
        .messageMe {
            grid-area: message;
            border-right: none;
            border-bottom: 2px solid rgb(208, 95, 8)
        }

        .contactSumbit{
            margin-bottom: 5%;
        }

        .contactSocials{
            margin-top: 5%;
            margin-bottom: 5%;
        }

    .contactPage{
    grid-template-areas: 
    '. contactTitle .'
    'phone phone phone '
    'email email email'
    'location location location'
    'message message message'
    'contactSocials contactSocials contactSocials'
    'icons icons icons'
    ;
    }

}

@media (max-width:650px) {

    .sideMenu {
        width: 100%;
        text-align: center;
        left: 100%;
        margin-top: 80px;
        background-color: darkgray;
        transition: all .5s;
        display: none;
    }


    .nav{
        display: flex;
        grid-area: media;
        background-color: #1D2951;
        color: white;
        font-size: 25px;
        line-height: 60px;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        height: 8%;
    }

    .resumeTitle {
        margin-top: 50%;
    }

    .contactTitle{
        margin-top: 50%;
    }

    .projectsTitle{
        margin-top: 50%;
    }

    .aboutTitle{
        margin-top: 20%;
    }

    .picture{
        margin-bottom: 10%;
    }

    .homePagePic{
        width: 100%;
        height: 100%;
        margin-top: -100%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'media'
        'data';
        height: 100%;
        width: 100%;
    }
    
    .skillBarContainer{
        display: none;
    }

    .skillBars{
        display: none;
    }

    .skills{
        display: none;
    }

    .skillLogos{
        display: none;
    }

    .aboutPage {
        grid-template-areas: 
        '. aboutTitle aboutTitle'
        '. aboutPic aboutPic '
        'aboutPic aboutPic aboutPic'
        'aboutPic aboutPic aboutPic'
        'desc desc desc'
        'logo logo logo';
    }
        
    }