body{
    background-color: black;
    color: white;
}
.homeButton{
    grid-area: home;
    text-decoration: none;
    color: white;
    font-size: 125%;
}

.aboutButton{
    grid-area: about;
    text-decoration: none;
    color: white;
    font-size: 125%;
}

.contactButton{
    grid-area: contact;
    text-decoration: none;
    color: white;
    font-size: 125%;
}

.projectsButton{
    grid-area: projects;
    text-decoration: none;
    color: white;
    font-size: 125%;
}

.resumeButton{
    grid-area: resume;
    text-decoration: none;
    color: white;
    font-size: 125%;
}

.intro{
    grid-area: intro;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}

.nameSize{
    font-size: 500%;
    font-weight: bolder;
}

.descSize {
    font-size: 200%;
}

.footer {
    grid-area: footer;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    

}
.homePage{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'intro intro intro intro intro intro'
}

.aboutPicture{
    grid-area: pic;
    width: 85%;
    height: 85%;
    justify-self: center;
}

.aboutName{
    grid-area: name;
    text-align: left;
}

.aboutBday{
    grid-area: bday;
    text-align: left;
}

.aboutPlace{
    grid-area: place;
    text-align: left;
}

.aboutAge{
    grid-area: age;
    text-align: left;
}

.aboutPhone{
    grid-area: phone;
    text-align: left;
}

.aboutEmail{
    grid-area: email;
    text-align: left;
}

.aboutEducation{
    grid-area: edu;
    text-align: left;
}

.aboutProfile{
    grid-area: profile;
    text-align: left;
}

.aboutTitle{
    grid-area: aboutTitle;
    padding-bottom: 5vh;
    font-size: xx-large;
}

.hr{
    border: .13vh solid gray;
}

.aboutDesc{
    grid-area: desc;
    border: .25vh solid gray;
    border-radius: 2vh;
    padding: 1vh;
}


.aboutPage {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        '. . aboutTitle aboutTitle . .'
        '. name bday pic pic .'
        '. place age pic pic .'
        '. phone email pic pic .'
        '. edu profile pic pic .'
        '. desc desc desc desc .';
}
.projectTitle{
    grid-area: projectTitle;
}

.projectPictures{
    width: 75vh;
    height: 50vh;
    padding: 1%;
    border-radius: 10%;

}

.projectPage{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

fieldset{
    border: none;
}

.contactPage{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '. contactTitle .'
    'social social social'
    'contactLocation contactDivide .'
    'contactEmail contactDivide .'
    'contactPhone contactDivide .';
}