* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.image{
    grid-area: image;
}

.picture{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid white;
}

.home{
    grid-area: home;
    display: inline;
}

.about{
    grid-area: about;
    display: inline;
}

.contact{
    grid-area: contact;
    display: inline;
}

.resume{
    grid-area: resume;
    display: inline;
}

.projects{
    grid-area: projects;
    display: inline;
}

.twitter{
    grid-area: twitter;
    display: inline;
}

.instagram{
    grid-area: instagram;
    display: inline;
}

.linkedIn{
    grid-area: linkedIn;
    display: inline;
}

.data{
    grid-area: data;
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'image data data'
    'home data data'
    'about data data'
    'contact data data'
    'projects data data'
    'resume data data'
    'twitter data data'
    'instagram data data'
    'linkedIn data data';
}